# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
*.egg-info/

# Virtual environment
.env
venv/
env/

# IDEs and editors
.idea/
.vscode/
*.sublime-*